/* Genel Ayarlar */
body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Üst Kısım */
header {
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

header p {
  font-size: 1em;
  color: #666;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 10px;
  cursor: pointer;
  transition: border-color 0.3s;
}

select:focus {
  border-color: #4CAF50;
}

/* Navigasyon Menüsü */
.nav-bar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px 0;
}

.nav-bar button {
  background: none;
  border: none;
  color: #007bff;
  margin: 0 15px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-bar button:hover {
  color: #0056b3;
}

/* Arama Çubuğu */
.search-bar {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.search-bar input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: border-color 0.3s;
}

.search-bar input:focus {
  border-color: #4CAF50;
}

.search-bar button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #45a049;
}

/* Film Kartları */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-poster {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.movie-info {
  padding: 10px;
}

.movie-info h3 {
  font-size: 16px;
  margin: 10px 0;
  font-weight: bold;
}

.movie-info p {
  font-size: 14px;
  color: #666;
}

.movie-info button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.movie-info button:hover {
  background-color: #45a049;
}

/* Hata ve Yüklenme Durumu */
.error-message {
  color: red;
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 20px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  margin-top: 20px;
} 